*.npy
*.pt
*run-*
*.tgz
*.zip

wandb

__pycache__/
*.py[cod]
*$py.class


.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.eggs/
dist/
build/
wheels/
*.egg
*.whl

.vscode/

.ipynb_checkpoints
*.ipynb

.DS_Store

logs/
*.log
*.out
*.err

*.env

*.temp
*.tmp
*.swp
*.swo
*.bak
~$

*.rst~
__pypackages__/
docs/
site/
